.main-nav{
    /*colocar margen de lado derecho*/
    margin-top: 10px;
    /*quitar los puntos de la lista desordenada*/
    list-style: none;
    /*El espacio interno de un contenedor*/
    padding-left: 0;
    background-color: #13a4a4;
}
.main-nav__item{
    /*Cambiar la orientacion en que se muestra una serie de elementos*/
    display: inline-block;
}
/*cambiar el estilo a una etiqueta en especifico*/
.main-nav__item a{
    /*Color a la letra*/
    color: white;
    padding: 5px;
    /*coloca un borde con extremos redondos al elemento*/
    border-radius: 2px;
    /*Quita el subrayado al texto*/
    text-decoration: none;
}

/*Colocar 2 puntos ":" despues de un elemento para colocar una pseudoclase, define un estado de un elemento*/
.main-nav__item a:hover{
    /*hover: cuando el mouse esta sobre el elemento*/
    color: blue;
}
.main-nav__item a:active{
    /*active: cuando hace clic en el elemento*/
    color: red;
}

/*Colocar 4 puntos ":" despues de un elemento para colocar una pseudoelemento: define una parte especifica de un item*/
.main-nav__item a::after{
    /*content: agrega texto a un elemento */
    /*after: despues de un elemento*/
    content: " | ";
}

#btn{
    border-radius: 3px;
    border: solid 1px #545f41;
    background-color: #545f41;
}
#btn:hover{
    border: solid 1px #e084bd;
    background-color: #e084bd;
}
#btn:active{
    border: solid 1px #c8ff00;
    background-color: #c8ff00;
}

#btn::after{
    content: " Click Aqui";
    color: #ff2fa1
}
#btn::before{
    content: "Para => ";
    color: #8abdee
}
#btn::first-letter{
    font-size: xx-large;
}

#check:checked + div{
    background-color: darkorange;
}
#check:checked + div::first-letter{
    font-size: xx-large;
}
#radio:checked + label{
    background-color: #78fa99;
}
#check1:checked + label{
    background-color: #e21765;
}
#radio1:checked + div{
    background-color: #3f5eeb;
}
#radio1:checked + div::first-letter{
    font-size: xx-large;
}

.primeroDe{
    font-family: 'Lucida Sans';
}
.primeroDe label:first-child{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  blue;
}
.primeroDe::first-letter{
    font-size: xx-large;
}
